/* Activities.css */

.activities {
  padding: 2rem 9%;
  background: var(--light-bg);
}

.activities .heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--black);
}

.activities .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusted min-width for responsiveness */
  gap: 1.5rem;
}

.activities .box-container .box {
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: 1.5rem;
  outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  outline-offset: -1rem;
  background: var(--white);
  transition: var(--transition);
}

.activities .box-container .box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  transition: var(--transition);
}

.activities .box-container .box:hover img {
  transform: scale(1.1);
}

.activities .box-container .box h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--black);
}

.dark .activities {
  background: #fff;
}

.dark .activities .heading {
  color: black;
}

.dark .activities .box-container .box {
  background: #333;
}

.dark .activities .box-container .box h3 {
  color: #fff;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .activities .box-container {
    grid-template-columns: repeat(2, 1fr); /* Two boxes per row on small screens */
    gap: 1.5rem;
  }

  .activities .box-container .box {
    padding: 1.5rem;
  }

  .activities .box-container .box h3 {
    font-size: 1.3rem; /* Decreased font size for smaller screens */
    margin-bottom: 0.5rem; /* Adjusted margin for smaller screens */
  }

  .activities .box-container .box img {
    max-width: 80%;
    height: auto;
    margin-bottom: 1rem;
  }
}
