/* Education.css */

.education {
    padding: 50px;
    background: #fff;
    color: #000;
    transition: background-color 0.5s, color 0.5s;
}

.education .heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.education .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.education .box {
    flex-basis: calc(30% - 25px); /* Adjust box width for 2 boxes per row with space between */
    margin-bottom: 20px;
    padding: 20px;
    background: #f0e285;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.education .box h3 {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.education .box p {
    font-size:0.9rem;
    margin-bottom: 10px;
}

.education .box img {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
}

/* Adjustments for small screens */
@media (max-width: 768px) {

    .education .box {
        flex-basis: calc(50% - 5px); /* Full width for each box on small screens */
        margin-bottom: 5px; /* Reduce bottom margin for smaller spacing */
        padding: 25px;
    }

    .education .box img {
        max-width: 30%; /* Decrease image width for small screens */
    }

    .education .box h3 {
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    
    .education .box p {
        font-size:0.5rem;
        margin-bottom: 10px;
    }
}

.dark .education {
    background: #000;
    color: #fff;
}

.dark .education .box {
    background: #333;
    color: #fff;
}
